In [1]:
import pandas as pd
import preprocess as pre
from nltk.tokenize import RegexpTokenizer
from nltk.stem.wordnet import WordNetLemmatizer
from gensim.models import Phrases
# Remove rare and common tokens.
from gensim.corpora import Dictionary
# Train LDA model.
from gensim.models import LdaModel
from pprint import pprint
import numpy as np
import logging
from gensim.models import CoherenceModel
from preprocess import processbody

ModuleNotFoundError: No module named 'preprocess'

In [5]:
dataset = "datadog"
df = pd.read_csv('../dataset/{}-aiops.csv'.format(dataset))
docs = []
df['clean_text'] = ''
for index, row in df.iterrows():
    title = processbody(row['title'])
    body = processbody(row['body'])
    s = (title+" "+body).strip()
    df.at[index, 'clean_text'] = docs.append(s)

print(len(docs))
print(docs[0][:50])

# Split the documents into tokens.
tokenizer = RegexpTokenizer(r'\w+')
for idx in range(len(docs)):
    docs[idx] = tokenizer.tokenize(docs[idx])  # Split into words.

# Remove numbers, but not words that contain numbers.
docs = [[token for token in doc if not token.isnumeric()] for doc in docs]

# Remove words that are only one character.
docs = [[token for token in doc if len(token) > 1] for doc in docs]
docs = [[token for token in doc if len(token) <= 15] for doc in docs]
np.save('{}_docs.npy'.format(dataset), np.array(docs))
# docs = [doc for doc in docs if len(doc)>1]

456
send data datadog use go collect data use go want

D:\anaconda3\envs\Torch\lib\site-packages\ipykernel_launcher.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [6]:
# Create a dictionary representation of the documents.
dictionary = Dictionary(docs)
dictionary.filter_extremes(no_below=2)
dictionary.save('{}.dict'.format(dataset))

corpus = [dictionary.doc2bow(doc) for doc in docs]
np.save('{}_corpus.npy'.format(dataset),np.array(corpus))
# corpus = np.load('./data/dl2.npy', allow_pickle=True).tolist()

print('Number of unique tokens: %d' % len(dictionary))
print('Number of documents: %d' % len(corpus))

Number of unique tokens: 1379
Number of documents: 456

D:\anaconda3\envs\Torch\lib\site-packages\ipykernel_launcher.py:7: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  import sys

In [55]:
num_topics = 8
elastic_lda = LdaModel.load('elastic_8.model')
elastic_lda.print_topics(num_topics=num_topics, num_words=15)
dictionary = Dictionary.load('elastic.dict')
corpus = np.load('elastic_corpus.npy', allow_pickle=True).tolist()
docs = np.load('elastic_docs.npy', allow_pickle=True).tolist()

In [56]:
doc_topics = []
for doc in elastic_lda.get_document_topics(corpus):
    doc_topic = []
    topics = []
    for topic in doc:
        doc_topic.append(topic[1])
        topics.append(topic[0])
    # doc_topic_max.append(doc_topic.index(max(doc_topic)))
    doc_topics.append(topics[doc_topic.index(max(doc_topic))])
    # print(doc_topics)


topics = []
for i in range(num_topics):
    topics.append(0)
for topic in doc_topics:
    topics[topic] += 1
print(topics)

[310, 295, 347, 376, 226, 630, 96, 105]

In [34]:
df = pd.read_csv("../dataset/elastic-aiops.csv")
df['topic'] = 100
i = 0
for index, row in df.iterrows():
    df.at[index, 'topic'] = doc_topics[i]
    i += 1
df.head()

,Unnamed: 0,id,post_id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,...,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,hot_score,topic
0,0,258503,43718919,Stackdriver vs ELK for app engine,<p>Im a little confused about this because the...,43722994.0,1,2,NaN,2017-5-1 12:11:39,...,NaN,NaN,1028270.0,NaN,1,6,google-app-engine|elasticsearch|elastic-stack|gcp,3736,19,0
1,1,258504,43754002,Extracting a substring after a match position ...,<p>Objective : I have a log file from where I ...,NaN,1,0,NaN,2017-5-3 07:39:31,...,3830161.0,NaN,3830161.0,NaN,1,1,regex|logstash|elastic-stack|logstash-grok,2792,13,3
2,2,258505,43756763,How to write grok pattern in logstash,<p>I am trying to start with logstash and my a...,43763303.0,1,0,NaN,2017-5-3 09:55:11,...,1919092.0,NaN,1919092.0,NaN,1,0,elasticsearch|logstash|elastic-stack|logstash-...,1391,13,5
3,3,258506,43776044,Logstash 'Cannot load an invalid configuration',<p>I am trying to configure logstash for the f...,43781561.0,2,0,NaN,2017-5-4 07:03:31,...,NaN,NaN,2519577.0,NaN,1,0,nginx|logstash|elastic-stack|logstash-grok,195,10,5
4,4,258507,43781240,How to send PHP app logs directly to ELK service?,"<p>According to the <a href=""https://docs.deve...",43782311.0,1,0,NaN,2017-5-4 11:10:35,...,4716084.0,NaN,4716084.0,NaN,1,1,elastic-stack|monolog|swisscomdev,7702,17,5

In [51]:
df['topic'].value_counts()

2385

In [36]:
phase0 = df[df['topic']==4]
phase1 = df[(df['topic']==5) | (df['topic']==7)]
phase2 = df[(df['topic']==0) | (df['topic']==1) | (df['topic']==2) | (df['topic']==3)]
phase3 = df[df['topic']==6]

In [37]:
print(len(phase0))
print(len(phase1))
print(len(phase2))
print(len(phase3))

226
735
1328
96

In [24]:
phase0_popularity = phase0[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
phase0col_mean = phase0_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

phase1_popularity = phase1[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
phase1col_mean = phase1_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

phase2_popularity = phase2[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
phase2col_mean = phase2_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

phase3_popularity = phase3[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
phase3col_mean = phase3_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

In [26]:
popularity = pd.concat([phase0col_mean, phase1col_mean, phase2col_mean, phase3col_mean], axis=1)
#统计受欢迎程度
# popularity.to_csv("{}-popularity.csv".format("elastic"))

In [27]:
from sklearn.preprocessing import MinMaxScaler
import mcdm
scaler = MinMaxScaler()
scaler.fit(popularity.T)
scaled_features = scaler.transform(popularity.T)
alt_names = ["0", "1", "2", "3"]
df_MinMax = pd.DataFrame(data=scaled_features, columns=["view_count", "answer_count", "comment_count","favorite_count", "score"])
popularityrank = mcdm.rank(df_MinMax.values, alt_names=alt_names,n_method="Linear2", w_method="CRITIC", s_method="TOPSIS")
print(popularityrank)

[('1', 0.8878834187049376), ('2', 0.5405700636216926), ('0', 0.43588998502365933), ('3', 0.20866943191859097)]

In [28]:
difficulty1 = popularity.iloc[1]/popularity.iloc[0]
difficulty1

0    0.000986
1    0.001038
2    0.001325
3    0.001547
dtype: float64

In [29]:
import numpy as np
cnt0 = 0
for index, row in phase0.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt0 += 1
cnt1 = 0
for index, row in phase1.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt1 += 1
cnt2 = 0
for index, row in phase2.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt2 += 1
cnt3 = 0
for index, row in phase3.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt3 += 1

In [30]:
unanswered = np.array([cnt0, cnt1, cnt2, cnt3], dtype=float)
sum = np.array([len(phase0), len(phase1), len(phase2), len(phase3)], dtype=float)
w_o = unanswered/sum
print(w_o)

[0.69469027 0.65170068 0.62349398 0.75      ]

In [31]:
data = [difficulty1.values, w_o]
difficulty = pd.DataFrame(data=data, index=['pd', 'w/o'], columns=["0", "1", "2", "3"])
difficulty[["0", "1", "2", "3"]]

            0         1         2         3
pd   0.000986  0.001038  0.001325  0.001547
w/o  0.694690  0.651701  0.623494  0.750000

In [33]:
import time
import pymysql
#连接数据库
def connectDB():
    # 打开数据库连接
    db = pymysql.connect(host="localhost", user="root", password="Wangnima258", database="aiops")
    print("连接上了...")
    return db
#查询操作
def queryDb(db, sql):
    # 使用 cursor() 方法创建一个游标对象 cursor
    cursor = db.cursor()
    cursor.execute(sql)
    # 获取所有记录列表
    results = cursor.fetchone()
    return results

db = connectDB()
cnt0 = 0
span0 = 0
for index, row in phase0.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span0 += span
        cnt0 += 1
hours0 = span0/cnt0

cnt1 = 0
span1 = 0
for index, row in phase1.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span1 += span
        cnt1 += 1
hours1 = span1/cnt1

cnt2 = 0
span2 = 0
for index, row in phase2.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span2 += span
        cnt2 += 1
hours2 = span2/cnt2

cnt3 = 0
span3 = 0
for index, row in phase3.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span3 += span
        cnt3 += 1
hours3 = span3/cnt3

db.close()

连接上了...

In [34]:
hours = np.array([hours0, hours1, hours2, hours3], dtype=float)
data = [difficulty1.values, w_o, hours]
difficulty = pd.DataFrame(data=data, index=['pd', 'w/o', 'days'], columns=["0", "1", "2", "3"])
# difficulty.to_csv("elastic-difficulty.csv")

In [35]:
scaler.fit(difficulty.T)
scaled_features = scaler.transform(difficulty.T)
alt_names = ["0", "1", "2", "3"]
df_MinMax = pd.DataFrame(data=scaled_features, columns=['pd', 'w/o', 'days'])
difficultyrank = mcdm.rank(df_MinMax.values, alt_names=alt_names,n_method="Linear2", w_method="CRITIC", s_method="TOPSIS")
difficultyrank

[('3', 1.0),
 ('1', 0.3914897168566913),
 ('2', 0.388433005915791),
 ('0', 0.38541356677429167)]

In [38]:
stage0month = phase0[['post_id','creation_date']]
stage0month['creation_date'] = pd.to_datetime(stage0month['creation_date'])
stage0month = stage0month.set_index('creation_date')
stage0month = stage0month.resample('M').count().to_period('M')
stage0month.rename(columns={'post_id':'0'},inplace = True)
stage0month['sum'] = stage0month['0'].cumsum()

stage1month = phase1[['post_id','creation_date']]
stage1month['creation_date'] = pd.to_datetime(stage1month['creation_date'])
stage1month = stage1month.set_index('creation_date')
stage1month = stage1month.resample('M').count().to_period('M')
stage1month.rename(columns={'post_id':'1'},inplace = True)
stage1month['sum'] = stage1month['1'].cumsum()

stage2month = phase2[['post_id','creation_date']]
stage2month['creation_date'] = pd.to_datetime(stage2month['creation_date'])
stage2month = stage2month.set_index('creation_date')
stage2month = stage2month.resample('M').count().to_period('M')
stage2month.rename(columns={'post_id':'2'},inplace = True)
stage2month['sum'] = stage2month['2'].cumsum()

stage3month = phase3[['post_id','creation_date']]
stage3month['creation_date'] = pd.to_datetime(stage3month['creation_date'])
stage3month = stage3month.set_index('creation_date')
stage3month = stage3month.resample('M').count().to_period('M')
stage3month.rename(columns={'post_id':'3'},inplace = True)
stage3month['sum'] = stage3month['3'].cumsum()

D:\anaconda3\envs\Torch\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda3\envs\Torch\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
D:\anaconda3\envs\Torch\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
D:\anaconda3\envs\Torch\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
splunkdf = pd.read_csv("../dataset/splunk-aiops.csv")
splunkdf['topic'] = 100
i = 0
for index, row in splunkdf.iterrows():
    splunkdf.at[index, 'topic'] = doc_topics[i]
    i += 1
splunkdf.head()

,Unnamed: 0,id,post_id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,...,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,hot_score,topic
0,0,258456,49059485,format splunk query by renaming search elements,<p>I could use a little help with a splunk que...,49060727.0,1,0,NaN,2018-3-1 22:09:57,...,NaN,NaN,1017466.0,NaN,1,0,splunk,180,10,5
1,1,258457,49077872,POST a query to Splunk REST API /search/jobs/ ...,<p>I would like to send a search/query to Splu...,49078427.0,1,0,NaN,2018-3-2 21:45:34,...,NaN,NaN,4109882.0,NaN,1,0,rest|go|splunk,1605,13,5
2,2,258458,49080092,How do I retain table fields in Splunk after a...,<p>I've got a search where basically I want to...,NaN,1,0,NaN,2018-3-3 02:41:18,...,NaN,NaN,7507925.0,NaN,1,0,charts|splunk|splunk-query,295,9,7
3,3,258459,49091472,Forwarding syslog messages from raspbian to sp...,<p>how can i configure my raspberry pi having ...,NaN,1,0,NaN,2018-3-4 02:52:04,...,4420967.0,NaN,9440219.0,NaN,1,-1,raspbian|splunk,149,8,6
4,4,258460,49111651,How to produce rows for non-existing time buck...,<p>I have produced a table like this:</p>\n\n<...,NaN,2,0,NaN,2018-3-5 13:32:58,...,NaN,NaN,5184632.0,NaN,1,0,splunk|splunk-query|splunk-formula,1164,13,8

In [52]:
print(len(splunkdf))
splunkdf['topic'].value_counts()

1157

7    312
8    217
2    130
1    125
5    108
3    103
0     74
6     72
4     16
Name: topic, dtype: int64

In [46]:
splunkphase0 = splunkdf[(splunkdf['topic']==4) | (splunkdf['topic']==2)]
splunkphase1 = splunkdf[(splunkdf['topic']==0) | (splunkdf['topic']==6)]
splunkphase2 = splunkdf[(splunkdf['topic']==3) | (splunkdf['topic']==5) | (splunkdf['topic']==7) | (splunkdf['topic']==8)]
splunkphase3 = splunkdf[splunkdf['topic']==1]

In [47]:
print(len(splunkphase0))
print(len(splunkphase1))
print(len(splunkphase2))
print(len(splunkphase3))

146
146
740
125

In [67]:
splunkphase0_popularity = splunkphase0[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
splunkphase0col_mean = splunkphase0_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

splunkphase1_popularity = splunkphase1[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
splunkphase1col_mean = splunkphase1_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

splunkphase2_popularity = splunkphase2[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
splunkphase2col_mean = splunkphase2_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

splunkphase3_popularity = splunkphase3[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
splunkphase3col_mean = splunkphase3_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

In [68]:
splunkpopularity = pd.concat([splunkphase0col_mean, splunkphase1col_mean, splunkphase2col_mean, splunkphase3col_mean], axis=1)
#统计受欢迎程度
# splunkpopularity.to_csv("{}-popularity.csv".format("splunk"))

In [75]:
from sklearn.preprocessing import MinMaxScaler
import mcdm
scaler = MinMaxScaler()
scaler.fit(splunkpopularity.T)
scaled_features = scaler.transform(splunkpopularity.T)
alt_names = ["0", "1", "2", "3"]
df_MinMax = pd.DataFrame(data=scaled_features, columns=["view_count", "answer_count", "comment_count","favorite_count", "score"])
splunkpopularityrank = mcdm.rank(df_MinMax.values, alt_names=alt_names,n_method="Linear2", w_method="CRITIC", s_method="TOPSIS")
splunkpopularityrank

[('1', 0.5943046524771858),
 ('2', 0.5923001848673584),
 ('0', 0.4984430693557657),
 ('3', 0.0)]

In [76]:
splunkdifficulty1 = splunkpopularity.iloc[1]/splunkpopularity.iloc[0]
splunkdifficulty1

0    0.002113
1    0.001592
2    0.002033
3    0.002515
dtype: float64

In [77]:
import numpy as np
cnt0 = 0
for index, row in splunkphase0.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt0 += 1
cnt1 = 0
for index, row in splunkphase1.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt1 += 1
cnt2 = 0
for index, row in splunkphase2.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt2 += 1
cnt3 = 0
for index, row in splunkphase3.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt3 += 1

In [78]:
unanswered = np.array([cnt0, cnt1, cnt2, cnt3], dtype=float)
sum = np.array([len(splunkphase0), len(splunkphase1), len(splunkphase2), len(splunkphase3)], dtype=float)
w_o = unanswered/sum
print(w_o)

[0.73972603 0.67123288 0.61891892 0.72      ]

In [80]:
data = [splunkdifficulty1.values, w_o]
splunkdifficulty = pd.DataFrame(data=data, index=['pd', 'w/o'], columns=["0", "1", "2", "3"])
splunkdifficulty[["0", "1", "2", "3"]]

            0         1         2         3
pd   0.002113  0.001592  0.002033  0.002515
w/o  0.739726  0.671233  0.618919  0.720000

In [81]:
import time
import pymysql
#连接数据库
def connectDB():
    # 打开数据库连接
    db = pymysql.connect(host="localhost", user="root", password="Wangnima258", database="aiops")
    print("连接上了...")
    return db
#查询操作
def queryDb(db, sql):
    # 使用 cursor() 方法创建一个游标对象 cursor
    cursor = db.cursor()
    cursor.execute(sql)
    # 获取所有记录列表
    results = cursor.fetchone()
    return results

db = connectDB()
cnt0 = 0
span0 = 0
for index, row in splunkphase0.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span0 += span
        cnt0 += 1
hours0 = span0/cnt0

cnt1 = 0
span1 = 0
for index, row in splunkphase1.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span1 += span
        cnt1 += 1
hours1 = span1/cnt1

cnt2 = 0
span2 = 0
for index, row in splunkphase2.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span2 += span
        cnt2 += 1
hours2 = span2/cnt2

cnt3 = 0
span3 = 0
for index, row in splunkphase3.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span3 += span
        cnt3 += 1
hours3 = span3/cnt3

db.close()

连接上了...

In [82]:
hours = np.array([hours0, hours1, hours2, hours3], dtype=float)
data = [splunkdifficulty1.values, w_o, hours]
splunkdifficulty = pd.DataFrame(data=data, index=['pd', 'w/o', 'days'], columns=["0", "1", "2", "3"])
# splunkdifficulty.to_csv("splunk-difficulty.csv")

In [83]:
scaler.fit(splunkdifficulty.T)
scaled_features = scaler.transform(splunkdifficulty.T)
alt_names = ["0", "1", "2", "3"]
df_MinMax = pd.DataFrame(data=scaled_features, columns=['pd', 'w/o', 'days'])
splunkdifficultyrank = mcdm.rank(df_MinMax.values, alt_names=alt_names,n_method="Linear2", w_method="CRITIC", s_method="TOPSIS")
splunkdifficultyrank

[('3', 0.5732508815532178),
 ('1', 0.5322346980504812),
 ('0', 0.5152182755995682),
 ('2', 0.24586587112299604)]

In [64]:
num_topics = 8
datadog_lda = LdaModel.load('datadog_8.model')
dictionary = Dictionary.load('datadog.dict')
corpus = np.load('datadog_corpus.npy', allow_pickle=True).tolist()
docs = np.load('datadog_docs.npy', allow_pickle=True).tolist()

datadog_lda.print_topics(num_topics=num_topics, num_words=10)

[(0,
  '0.041*"tag" + 0.041*"metric" + 0.026*"query" + 0.015*"like" + 0.015*"value" + 0.013*"want" + 0.012*"name" + 0.011*"trace" + 0.010*"way" + 0.010*"custom"'),
 (1,
  '0.060*"log" + 0.029*"file" + 0.018*"agent" + 0.014*"run" + 0.012*"try" + 0.012*"container" + 0.012*"app" + 0.011*"json" + 0.009*"service" + 0.009*"config"'),
 (2,
  '0.038*"log" + 0.018*"monitor" + 0.018*"message" + 0.016*"create" + 0.015*"metric" + 0.014*"get" + 0.012*"value" + 0.012*"find" + 0.011*"dashboard" + 0.010*"alert"'),
 (3,
  '0.021*"event" + 0.019*"log" + 0.019*"metric" + 0.017*"error" + 0.017*"time" + 0.014*"test" + 0.013*"send" + 0.011*"run" + 0.011*"try" + 0.009*"monitor"'),
 (4,
  '0.024*"log" + 0.017*"error" + 0.014*"work" + 0.013*"file" + 0.012*"run" + 0.011*"try" + 0.010*"docker" + 0.010*"image" + 0.009*"code" + 0.009*"json"'),
 (5,
  '0.017*"send" + 0.016*"metric" + 0.014*"log" + 0.013*"see" + 0.012*"possible" + 0.011*"event" + 0.011*"json" + 0.010*"agent" + 0.010*"server" + 0.010*"want"'),
 (6,
  '0.032*"metric" + 0.025*"monitor" + 0.022*"alert" + 0.016*"query" + 0.014*"create" + 0.013*"try" + 0.013*"time" + 0.013*"like" + 0.012*"get" + 0.010*"value"'),
 (7,
  '0.038*"metric" + 0.028*"agent" + 0.021*"cluster" + 0.019*"get" + 0.018*"run" + 0.018*"kubernetes" + 0.015*"application" + 0.014*"pod" + 0.013*"container" + 0.011*"see"')]

In [65]:
doc_topics = []
for doc in datadog_lda.get_document_topics(corpus):
    doc_topic = []
    topics = []
    for topic in doc:
        doc_topic.append(topic[1])
        topics.append(topic[0])
    # doc_topic_max.append(doc_topic.index(max(doc_topic)))
    doc_topics.append(topics[doc_topic.index(max(doc_topic))])
    # print(doc_topics)


topics = []
for i in range(num_topics):
    topics.append(0)
for topic in doc_topics:
    topics[topic] += 1
print(topics)

[72, 69, 63, 48, 37, 48, 62, 57]

In [66]:
datadogdf = pd.read_csv("../dataset/datadog-aiops.csv")
datadogdf['topic'] = 100
i = 0
for index, row in datadogdf.iterrows():
    datadogdf.at[index, 'topic'] = doc_topics[i]
    i += 1
datadogdf.head()

,Unnamed: 0,post_id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,...,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,topic
0,0,51124961,Send data to Datadog using Go,<p>i'm collect data using Go and want to visua...,NaN,2,2,NaN,2018-7-1 16:13:48,1.0,...,NaN,NaN,NaN,9699047.0,NaN,1,2,go|datadog,3637,4
1,1,51323878,Datadog: PostgreSQL custom_metrics returns a s...,<p>I wanted to create a graph in Datadog to di...,NaN,1,0,NaN,2018-7-13 11:15:48,NaN,...,NaN,NaN,NaN,9763778.0,NaN,1,1,postgresql|datadog,538,0
2,2,51341426,DataDog logging image reporting errors in dock...,"<p>Using datadog docker image, with the follow...",NaN,0,2,NaN,2018-7-14 16:43:41,NaN,...,NaN,NaN,NaN,1414721.0,NaN,1,1,docker|logging|docker-compose|filesystems|datadog,956,4
3,3,51363915,use data-dog for testing a web app,"<p>I am using webdriver-io to test a web-app, ...",NaN,0,1,NaN,2018-7-16 14:16:00,NaN,...,NaN,5912110.0,NaN,5912110.0,NaN,1,1,testing|webdriver-io|datadog,54,5
4,4,51377442,Manually insert metrics to Datadog,<p>I have file full of metrics:</p>\n\n<pre><c...,NaN,1,0,NaN,2018-7-17 09:11:26,0.0,...,NaN,NaN,NaN,2446102.0,NaN,1,0,statsd|datadog,151,5

In [68]:
print(len(datadogdf))
datadogdf['topic'].value_counts()
# datadogdf.to_csv("../dataset/datadog-aiops.csv")

456

0    72
1    69
2    63
6    62
7    57
5    48
3    48
4    37
Name: topic, dtype: int64

In [69]:
datadogphase0 = datadogdf[datadogdf['topic']==4]
datadogphase1 = datadogdf[(datadogdf['topic']==1) | (datadogdf['topic']==3) | (datadogdf['topic']==5) | (datadogdf['topic']==7)]
datadogphase2 = datadogdf[(datadogdf['topic']==0)]
datadogphase3 = datadogdf[datadogdf['topic']==6]

In [70]:
print(len(datadogphase0))
print(len(datadogphase1))
print(len(datadogphase2))
print(len(datadogphase3))

37
222
72
62

In [71]:
datadogphase0_popularity = datadogphase0[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
datadogphase0col_mean = datadogphase0_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

datadogphase1_popularity = datadogphase1[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
datadogphase1col_mean = datadogphase1_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

datadogphase2_popularity = datadogphase2[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
datadogphase2col_mean = datadogphase2_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

datadogphase3_popularity = datadogphase3[['post_id','creation_date','view_count','answer_count','comment_count','favorite_count','score']]
datadogphase3col_mean = datadogphase3_popularity[['view_count','answer_count','comment_count','favorite_count','score']].mean()

In [13]:
datadogpopularity = pd.concat([datadogphase0col_mean, datadogphase1col_mean, datadogphase2col_mean, datadogphase3col_mean], axis=1)
#统计受欢迎程度
datadogpopularity.to_csv("{}-popularity.csv".format("datadog"))

In [14]:
from sklearn.preprocessing import MinMaxScaler
import mcdm
scaler = MinMaxScaler()
scaler.fit(datadogpopularity.T)
scaled_features = scaler.transform(datadogpopularity.T)
alt_names = ["0", "1", "2", "3"]
df_MinMax = pd.DataFrame(data=scaled_features, columns=["view_count", "answer_count", "comment_count","favorite_count", "score"])
datadogpopularityrank = mcdm.rank(df_MinMax.values, alt_names=alt_names,n_method="Linear2", w_method="CRITIC", s_method="TOPSIS")
datadogpopularityrank

[('0', 0.7161450230380225),
 ('1', 0.6405423240140876),
 ('2', 0.4534866147350454),
 ('3', 0.3000149451988753)]

In [15]:
datadogdifficulty1 = datadogpopularity.iloc[1]/datadogpopularity.iloc[0]
datadogdifficulty1

0    0.001503
1    0.001553
2    0.001301
3    0.002669
dtype: float64

In [16]:
import numpy as np
cnt0 = 0
for index, row in datadogphase0.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt0 += 1
cnt1 = 0
for index, row in datadogphase1.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt1 += 1
cnt2 = 0
for index, row in datadogphase2.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt2 += 1
cnt3 = 0
for index, row in datadogphase3.iterrows():
    if np.isnan(row['accepted_answer_id']):
        cnt3 += 1

In [17]:
unanswered = np.array([cnt0, cnt1, cnt2, cnt3], dtype=float)
sum = np.array([len(datadogphase0), len(datadogphase1), len(datadogphase2), len(datadogphase3)], dtype=float)
w_o = unanswered/sum
print(w_o)

[0.56756757 0.75675676 0.77777778 0.83870968]

In [18]:
data = [datadogdifficulty1.values, w_o]
datadogdifficulty = pd.DataFrame(data=data, index=['pd', 'w/o'], columns=["0", "1", "2", "3"])
datadogdifficulty[["0", "1", "2", "3"]]

            0         1         2         3
pd   0.001503  0.001553  0.001301  0.002669
w/o  0.567568  0.756757  0.777778  0.838710

In [21]:
import time
import pymysql
#连接数据库
def connectDB():
    # 打开数据库连接
    db = pymysql.connect(host="localhost", user="root", password="Wangnima258", database="aiops")
    print("连接上了...")
    return db
#查询操作
def queryDb(db, sql):
    # 使用 cursor() 方法创建一个游标对象 cursor
    cursor = db.cursor()
    cursor.execute(sql)
    # 获取所有记录列表
    results = cursor.fetchone()
    return results
db = connectDB()
cnt0 = 0
span0 = 0
for index, row in datadogphase0.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span0 += span
        cnt0 += 1
hours0 = span0/cnt0

cnt1 = 0
span1 = 0
for index, row in datadogphase1.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span1 += span
        cnt1 += 1
hours1 = span1/cnt1

cnt2 = 0
span2 = 0
for index, row in datadogphase2.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span2 += span
        cnt2 += 1
hours2 = span2/cnt2

cnt3 = 0
span3 = 0
for index, row in datadogphase3.iterrows():
    if not np.isnan(row['accepted_answer_id']):
        # print(row['CreationDate'])
        start = time.mktime(time.strptime(row['creation_date'], '%Y-%m-%d %H:%M:%S'))
        Aid = str(row['accepted_answer_id'])
        sql = "select creation_date from answers where post_id = " + Aid
        result = queryDb(db, sql)
        if(result is None):
            continue
        # print(answer.iloc[0]['CreationDate'])
        end = time.mktime(time.strptime(str(result[0]), '%Y-%m-%d %H:%M:%S'))
        # days
        span = round(end - start) / (3600*24)
        span3 += span
        cnt3 += 1
hours3 = span3/cnt3

db.close()

连接上了...

In [22]:
hours = np.array([hours0, hours1, hours2, hours3], dtype=float)
data = [datadogdifficulty1.values, w_o, hours]
datadogdifficulty = pd.DataFrame(data=data, index=['pd', 'w/o', 'days'], columns=["0", "1", "2", "3"])
datadogdifficulty.to_csv("datadog-difficulty.csv")

In [23]:
scaler.fit(datadogdifficulty.T)
scaled_features = scaler.transform(datadogdifficulty.T)
alt_names = ["0", "1", "2", "3"]
df_MinMax = pd.DataFrame(data=scaled_features, columns=['pd', 'w/o', 'days'])
datadogdifficultyrank = mcdm.rank(df_MinMax.values, alt_names=alt_names,n_method="Linear2", w_method="CRITIC", s_method="TOPSIS")
datadogdifficultyrank

[('3', 0.6057450167477716),
 ('2', 0.5139913536663946),
 ('1', 0.2992613462119449),
 ('0', 0.09544495776046948)]